.register {
    background-color: #ebb2b2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.register-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E003C;
    padding: 10px;
    border-radius: 8px;
}

.logo-saclay-meet {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.register-form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
