.home {
    background-color: #ebb2b2;
    display: flex;
    flex-direction: column;
    height: 1605px;
    position: relative;
    min-height: 100vh; /* Hauteur minimale = 100% de la fenêtre */
    width: 100vw;      /* Largeur = 100% de la fenêtre */
    box-sizing: border-box;
}

.home .body {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

.home .header {
    align-items: center;
    background-color: #ebb2b2;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 24px;
    height: 99px;
    justify-content: space-between;
    padding: 0px 0px 0px 32px;
    position: relative;
    width: 95%;
}

.home .image {
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 98px;
    justify-content: center;
    margin-bottom: -31.50px;
    margin-top: -31.50px;
    position: relative;
    width: 98px;
}

.home .logo-saclay-meet {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.home .description {
    align-items: center;
    background-color: #ebb3b3;
    display: flex;
    gap: 10px;
    height: 98px;
    justify-content: center;
    position: relative;
    width: 1440px;
}

.home .subtitle {
    align-items: center;
    align-self: stretch;
    color: #000000;
    display: flex;
    flex: 1;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 45px;
    font-weight: 400;
    justify-content: center;
    line-height: 45px;
    margin : 50px 0px 0px 0px;
    position: relative;
    text-align: center;
}

.home .images {
    align-items: center;
    background-color: #ebb2b2;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 48px;
    height: 478px;
    justify-content: space-around;
    position: relative;
    padding: 64px;
    width: 1440px;
}

.home .desc {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 200px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 500px;
}

.home .image-1 {
    align-self: stretch;
    background-image: url(./assets/image1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    flex: 1;
    flex-grow: 1;
    position: relative;
    width: 100%
}

.home .image-2 {
    align-self: stretch;
    background-image: url(./assets/image2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.home .image-3 {
    align-self: stretch;
    background-image: url(./assets/image3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.title {
    align-items: flex-start;
    background-image: url(./assets/image1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
}

.title .hero-image {
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 160px 24px 160px 24px;
    position: relative;
    width: 100%;
}

.hero-image .text-title {
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    position: relative;
    text-align: center;
}

.text-title .image-title {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    position: relative;
}

.text-title .image-subtitle {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
}



