html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
}